.header {
  min-width: 100%;
  min-height: 50px;
  background-color: #9b51e0;
  z-index: 2;
  &__btns {
    margin: 0;
    padding: 12px 20px;
    list-style-type: none;

    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  .btns__nav {
    width: 25px;
    height: 25px;
  }

  .btn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
  }

  .nav-burger {
    position: relative;
    left: -6px;
    bottom: -2px;
    width: 100%;
  }

  .nav-burger > .line {
    position: absolute;
    left: 0;
    right: 0;
    width: 25px;
    height: 4px;
    background-color: #222232;
    border-radius: 5px;
  }

  .nav-burger > .line:first-child {
    bottom: 10px;
  }

  .nav-burger > .line:nth-child(2) {
    bottom: 1px;
  }

  .nav-burger > .line:last-child {
    top: 4px;
  }
}

.nav-menu {
  position: fixed;
  left: 0px;
  top: 53px;
  min-width: 200px;
  height: 100%;

  transition: all 1s;

  background-color: #fff;

  &__list {
    list-style-type: none;
    padding-left: 20px;
  }

  .list__item {
    padding: 10px 0;
    margin: 10px 0;

    border-bottom: 2px solid #9b51e0;

    background: #fff;

    &-link {
      padding: 10px 0;
      font-weight: 500;
      font-size: 17px;

      color: #222232;

      text-decoration: none;
    }
    &-link:hover {
      color: #fff;
    }
    transition: all 1s;
  }

  .list__item:hover {
    background: #9b51e0;
  }

  z-index: 2;
}

.sub-menu {
  position: fixed;
  right: 0px;
  width: 300px;
  top: 53px;
  height: 100%;

  transition: all 1s;

  background-color: #fff;

  &__list {
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
  }

  z-index: 2;
}

.close-nav {
  left: -200px;
}

.close-sub {
  right: -300px;
}

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background: #c4c4c4;
  opacity: 0.4;

  z-index: 1;
}

.text {
  display: block;
  font-weight: 500;
  font-size: 17px;

  color: #222232;

  margin-bottom: 10px;
}

.selector {
  width: 172px;
  height: 40px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #222232;

  border: 1px solid #22223220;
  border-radius: 5px;
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;

  background-color: #9b51e0;
}

